* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

.app {
  max-width: 700px;
  margin: auto;
  background-color: rgb(190, 190, 190);
}

.app-header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 40px;
}

.timeInputContainer {
  background-color: rgb(238, 238, 238);
  text-align: center;
  padding: 40px;
  input {
    width: 55px;
    text-align: right;
  }
  .timeDisplay {
    font-size: 28px;
    font-weight: bold;
    padding: 40px;
  }
  .btnContainer {
    display: flex;
    justify-content: center;
  }
  button {
    margin: 0px 5px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px 10px;
  }
}